.button__rounded {
  color: var(--white_color);
  background-color: var(--main_color);
  background-image: url('src\assets\images\trash.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 70%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 0px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button__rounded{   
    width: 60px;
    height: 60px;
  }  
}