<form [formGroup]="todoFormGroup" (submit)="addEditTodo()">
  <!-- Titre de la page-->
  <app-title-page titlePageText={{titlePageTextHtml}}></app-title-page>

  <!-- Titre -->
  <app-input
    [todoFormGroup] ="todoFormGroup"
    controlName="title" 
    id="title" 
    type="text" 
    name="title" 
    placeholderText="Mon super titre" 
    labelText="tire"
    ></app-input>

  <!-- Description -->
  <app-input 
    [todoFormGroup]="todoFormGroup" 
    controlName="description" 
    id="description" 
    type="text" 
    name="description" 
    placeholderText="Ma super description" 
    labelText="description"
  ></app-input>

  <!-- Submit button-->
  <app-rectangle-button type="submit" buttonText={{buttonTextHtml}}></app-rectangle-button>
</form>
