.form__container {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--banner_height));
  justify-content: center;
  align-items: center;  
}

.form {
  display: flex;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
}

.form__input__container {
  display: flex;
  flex-direction: column;
  width: 100%;  
  align-items: center;
  justify-content: center;
  max-width: 550px;
  height: 100%;
}

.form__input__group {
  width: 100%;
}

.button__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button__rectangle__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  
  .button__container {   
    padding-bottom: 20px;
  }
  
}